<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body>
	<h1>Login</h1>

	<div th:if="${param.logout}">You have been logged out.</div>

	<div th:if="${param.register_success}">Registration successful!
		Please login.</div>

	<div th:if="${param.error}" style="color: red;">Invalid username
		or password.</div>

	<form th:action="@{/login}" method="post">
		<div>
			<label>Username: <input type="text" name="username" /></label>
		</div>
		<div>
			<label>Password: <input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" value="Log In" />
		</div>
	</form>
	<br />
	<a th:href="@{/register}">Register new account</a>
</body>
</html>